header {background-color: black;
}
nav {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
nav a {margin: 10px; font-size: 15px; text-decoration: none;
color: black; border: 1px solid #3ADF00; border-radius: 25px;
padding: 15px; text-align: center; background-color: #3ADF00;
}
h1 {text-transform: uppercase; text-align: center; font-size: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
;
}
h2 {text-transform: uppercase; text-align: center; font-size: 30px; 
font-family: Georgia, 'Times New Roman', Times, serif
}
p {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {margin: 10px; font-size: 15px; text-decoration: none;
color: black; border: 1px solid #3ADF00; border-radius: 25px;
padding: 15px; text-align: center; background-color: #3ADF00; 
}
